.slider-image {
    height: 40vh;
    width: 40vh;
    margin: auto;
}

.slider-image:hover {
    filter: brightness(120%);
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* Spinner */
/* Spinner */
.poke-spinner {
    height: 100px;
    width: 100px;
    margin: auto;
    background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50% );
    border-radius: 50%;
    border: 8px solid black;
    animation: spin 1s linear infinite;
    grid-column: span 4;
}

.poke-spinner::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 100px;
    background: black;
    top: 50px;
    transform: translatey(-50%);
}

.poke-spinner::after {
    content: '';
    position: absolute;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: white;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;

}

/* Spin Animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 773px) {
    .slider-image {
        height: 20vh;
        width: 20vh;
    }
}
